*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #1c232b;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2ebe3;
}

.component {
  display: flex;
  width: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3764705882) 0px 5px 15px;
}

#desktop-image {
  width: 50%;
  border-radius: 20px 0 0 20px;
}

#mobile-image {
  display: none;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.details * {
  margin: 5px;
}

.category {
  letter-spacing: 6px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 30px;
}

.description {
  line-height: 25px;
}

.price {
  display: flex;
  align-items: center;
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: #3c8067;
}
.price s {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 20px;
  color: #000000;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c8067;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}

button:hover {
  background-color: #183329;
}

@media screen and (max-width: 650px) {
  body {
    height: auto;
  }
  .component {
    flex-direction: column;
    width: 75%;
    margin: 20px;
  }
  #desktop-image {
    display: none;
  }
  #mobile-image {
    display: inline;
    border-radius: 20px 20px 0 0;
  }
}